html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("./assets/cover.jpg");
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
}

h3 {
  color: #631963;
  font-size: 2.4rem;
}

.btn {
  font-size: 1.4rem;
}

.list-group-item:hover {
  background: white;
}

form {
  border-radius: 0.3rem;
}
